<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>986181855901-38km1a0sqlaf46dq0f9sm5mjslqf7ups.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.986181855901-38km1a0sqlaf46dq0f9sm5mjslqf7ups</string>
	<key>API_KEY</key>
	<string>AIzaSyCs9Qzzmp2g4iZKwwbCF0J0SE02Z05YdiM</string>
	<key>GCM_SENDER_ID</key>
	<string>986181855901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>way.Employee</string>
	<key>PROJECT_ID</key>
	<string>employee-2d257</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-2d257.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:986181855901:ios:ab7a8314aca8f948</string>
	<key>DATABASE_URL</key>
	<string>https://employee-2d257.firebaseio.com</string>
</dict>
</plist>